table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 5px 5px 10px black;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #b2aec2;
}
form {
    margin: 20px 0;
}
button {
    margin-top: 10px;
}
